@import url('https://fonts.cdnfonts.com/css/agustina');

body {
  --Sailing: #326789;
  --Sailing01: ##78A6C8;
  --white: #E9EEF2;
  --orange: #E65C4F;
  --nav: #3c9fb5c4;
  
}
span {
  font-size: 1.5rem;
}

.header .logo-name {
  font-family: 'Agustina', sans-serif;
  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 10px;
  color: var(--orange);
}

.grey-color{
  color: var(--white);
}

.header{    
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem ;
  position: fixed;
  width: 100%;
  height:80px;
  z-index: 10;
  box-shadow: 0 6px 26px rgba(0, 0, 0, 0);;
}


.header {
  padding: 20px;
  background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
  backdrop-filter: blur(5px);
  font-size: 14px;
  line-height: 14px;
}

.header::before {
  display: block;
  content: "";
  position: absolute;
  background: var(--nav);
  opacity: 0.2;
}


.header-bg{
  background-color: #06132320;
  transition: .3s;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--orange);
  transform-origin: 0%;
}

.nav-menu{
  display: flex;
  list-style-type: none;
  cursor: pointer;
}
.nav-menu li{
  padding: 0 1rem;
  cursor: pointer;
}



.nav-menu li a{
  cursor: pointer;
  font-size: 1.2rem;

  color: var(--orange);

}
.nav-menu li a:hover{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--white);
}
.toggler {
  display: none;
}

@media (max-width:1075px){
  .nav-menu {
      flex-direction: column;
      width: 80%;
      height: 100vh;
      background: black;
      box-shadow: 0 6px 26px rgba(0, 0, 0, 0.507);
      position: absolute;
      top: 0px;
      left: -100%;
      transition: .3s;
      background-color: rgba(21, 45, 56, 0.892);
  }

  .nav-menu  {
    padding: 20px;
    background-image: radial-gradient(
      rgba(0, 0, 0, 0) 1px,
      var(--background) 1px
    );
    background-size: 3px 3px;
    backdrop-filter: blur(3px);
    font-size: 14px;
    line-height: 14px;
  }
  
  .nav-menu::before {
    display: block;
    content: "";
    position: absolute;
    background: var(--Sailing);
    opacity: 0.2;
  }

  .nav-menu.active{
      left: 0;
  }
  .nav-menu li{
      padding: 1rem 0;
      margin-left: 25px;
      display: block !important;

  }
  .nav-menu li a{
      font-size: 1.2rem;
      color: var();
  }
  .nav-menu li a:hover{
    font-size: 1.2rem;
    color: var(--Sailing);
}
  .toggler {
    display: block ;
    color: var(--Sailing);
  }
}
/*  */


.box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: var(--white);
}

/*  */


