body {
  --orange: #E65C4F;
}

.splash-container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.splash-title-container {
  font-size: 3rem;
  text-decoration: none;
}
.splash-title{
  font-size: 2rem;
  font-family: 'Agustina', sans-serif;
  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 10px;
  color: var(--orange);

  background-image: linear-gradient(
    -225deg,
    #1fd1cb 0%,
    #c54fad 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-clip: border-box;
  color: #fff;
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
}
